body {
  background-image: url("https://wallpapertag.com/wallpaper/full/c/b/2/817029-widescreen-pink-background-image-2560x1600-for-ipad-2.jpg");
  margin: 0;
}
.app {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.img {
  height: 400px;
  width: 300px;
  object-fit: contain;
  margin-top: 10px;
}
.mobile {
  height: 500px;
  width: 300px;
  border-radius: 12px;
  margin-top: 20px;
}
.mobile-list {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
.img {
  object-fit: cover;
  width: 250px;
}
.signup-con {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  margin: 0 auto;
  width: 400px;
}
.signup {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-bottom: 30px;
  width: 500px;
  margin: 0 auto;
  margin-top: 50px;
}
